@use "../abstracts/abstracts" as variable;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: variable.$font-family-primary;
  font-size: variable.$font-size;
  font-weight: 400;
  background-color: variable.$transparent-white;
  color: variable.$transparent-white;
  min-height: 100vh;

  @include variable.flex(column);
}
